extends wrap
block contentPage
  img#aboutLogoImage(src="/images/logo_metal.png", width="256px")
  div#includeAbout
    html
      body.
        <p>저희 INCLUDE는 매주 회원들이 돌아가며 <strong>세미나를 진행</strong>하고 있습니다. 각자가 관심있어하는 분야에 대해 스스로 공부를 하여 그것을 발표하고 선배들의 조언 및 토론으로 다른 회원들의 이해를 도우며 폭넓은 지식을 갖추는 데 이바지하고 있습니다.</p>

        <p>매 학기 초에 각자 관심있는 분야를 선택하여 자율적인 <strong>스터디모임</strong>을 결성하고 주로 선배들이 이끌어 후배들을 지도하는 형태를 띄고 있습니다. 이때까지 JAVA, Matlab, php, 위젯만들기, 안드로이드 등의 스터디 주제들로 다양하게 공부해왔으며, 앞으로는 모바일 어플리케이션을 중심으로 더욱 심도있는 주제를 다룰 예정입니다.</p>

        <p>매년 봄학기 신입회원 모집 이후 대전 근교로 MT를 가고, 가을학기에는 당일치기로 대전 시내에 있는 한밭수목원, 아이스링크장 등에 소풍을 갔으며 매학기 개강파티, 종강파티 등으로 동아리 회원간의 <strong>친목을 도모</strong>하는데 일조하고 있습니다.</p>