!!!
html
  head
    title= '인클루드'
    link(rel="shortcut icon", href="/images/favicon.ico")
    link(rel="stylesheet"   , href="/stylesheets/style.css")
    link(rel="stylesheet"   , href="/stylesheets/board.css")
    link(rel="stylesheet"   , href="/stylesheets/extra.css")
    link(rel="stylesheet"   , href="/stylesheets/lightbox.css")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.7.2.min.js")
    script(type="text/javascript", src="http://code.jquery.com/ui/1.8.20/jquery-ui.min.js")
    script(type="text/javascript", src="http://www.hintzmann.dk/testcenter/js/jquery/textshadow/jquery.textshadow.js")
    script(type="text/javascript", src="http://www.google.com/jsapi")
    script(type="text/javascript", src="/socket.io/socket.io.js")

  body!= body


script(type="text/javascript", src="/javascripts/lightbox.js")
script(type="text/javascript", src="/javascripts/layout.js")
script(type="text/javascript", src="/javascripts/boardClient.js")