extends wrap
block contentPage
  h2 스터디
  div#projectList
    p
      a(OnClick="checkBoard('android')").boardLink 안드로이드
    p
      a(OnClick="checkBoard('java')").boardLink 자바
    p
      a(OnClick="checkBoard('lol')").boardLink League of Legends
