@import 'vendor'

glow-animation(glowImage, rgba(0,0,0,0), #eeeeaa, 24px)

body
  margin 0
  padding 0
  background backColor
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color fontColor
  text-align center

a
  color aColor
  text-decoration none

a.button, button
  display inline-block
  cursor pointer
  color buttonFontcolor
  font-weight bold
  text-decoration none
  text-shadow 1px 1px buttonFontShadow
  box-shadow inset 0 1px #545454
  button-gradient()
  border solid 1px darkBorder
  border-radius 0.4em
  padding 4px 8px 4px 8px
  &:hover
    button-gradient-hover()
  &:active
    box-shadow inset 0 0 4px 1px rgba(0,0,0,0.4)

.boardLink
  cursor pointer

form label
  display inline-block
  text-align left
  margin-right 10px

input, textarea
  color fontColor
  padding 0 4px 0 4px
  box-sizing border-box
  background inputColor
  border-radius .4em
  box-shadow -1px -1px #000
  border none
  width 172px
  height 24px
  resize none
  &:focus
    outline: none

ul
  list-style: none

input.wide, textarea.wide
  width 100%

input.file
  width 400px
  margin 4px

div.imgWrap
  overflow hidden
  &:hover
    animation-name            glowImage;
    animation-duration        2s;
    animation-iteration-count infinite;
    animation-timing-function linear;

div.imgCaption
  position relative
  padding 4px
  height 64px
  background rgba(0,0,0,0.4)
  color #fff
  font-size 1.5em
  font-weight bold
  pointer-events none

