script(type='text/javascript', src='/javascripts/tiny_mce/tiny_mce.js')
script(type='text/javascript', src='/javascripts/tiny_mce/tiny_mce_init.js')
textarea(id='elm1', name='content', rows='15', cols='80')